.data-body-data{
  .data-body-data-row{
    margin-top: 19px;
    .ant-col-8{
      margin-bottom: 10px;
    }
    .ant-col-12{
      margin-bottom: 10px;
    }
  }
}

// 自定义span = 11
.defind-width-11{
  width: 49%;
}
