$layout-header: 72px;
.ant-header-user {
  float: right;
  >.ant-header-navbar {
    >li {
      position: relative;
      width: 120px;
      display: inline-block;
      text-align: center;
      height: 100%;
      cursor: pointer;
      >img {
        position: absolute;
        left: 10px;
        width: $layout-header / 2;
        height: $layout-header / 2;
        border-radius: 50%;
        transform: translateY(50%);
      }
      >span {
        margin-left: 32px;
      }
    }
  }
  list-style: none;
}
